<html>
  <head>
    <meta charset='UTF-8' />
    <title>Password Reset Successful - {{appName}}</title>
  </head>
  <body
    style='font-family: Arial, sans-serif; margin: 20px; padding: 20px; background-color: #f4f4f4;'
  >
    <h1>Password Reset Successful</h1>
    <p>Hi {{username}},</p>
    <p>
      Your password has been successfully reset. You can now log in to your
      account using your new password.
    </p>
    <p>
      If you did not initiate this change, please contact our support team
      immediately to secure your account.
    </p>
    <p>
      To log in, visit:
      <a href='http://localhost:3000/login'>
        Log In to
        {{appName}}
      </a>
    </p>
    <p>
      Best regards,<br />
      The
      {{appName}}
      Team
    </p>
  </body>
</html>